<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
 .navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.center{
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
</head>
<body>
<div class="navbar">
<a href="http://localhost:4000"><i class="fa fa-fw fa-home"></i> Home</a>
<a href="#about">About</a> </li>
<a href="http://localhost:4000/login">Login</a>
<a href="http://localhost:4000/register">Register</a>
</div>
<marquee direction="right"
         behavior="alternate"
         style="color:orange">
    <h1>WELCOME TO ABC BANK</h1></marquee>
<img src="img.jpg" alt="Bank Photo" class="center">
</div>
</body>
</html>